.header {
  height: 60px;
  width: 63vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .header-logo {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin: auto 0;

    .logo__value {
      cursor: pointer;
      text-decoration: none;
      outline: none;
    }
    .doc {
      color: #f5fafe;
    }
    .woo {
      color: #0fc7c7;
    }
  }
  .header-buttons {
    display: flex;

    .header-button__language {
      color: #f5fafe;
      background: #252f4d;
      border: 1px solid #252f4d;
      outline: none;
      cursor: pointer;
      width: 45px;
      margin-left: 15px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.9px;
    }
    .header-button__login {
      color: #0fc7c7;
      background: #252f4d;
      border: 1px solid #0fc7c7;
      border-radius: 20px;
      outline: none;
      margin: auto;
      cursor: pointer;
      width: 170px;
      height: 30px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.9px;
    }
  }
}
