.checkbox__title {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #252f4d;
}

.policy {
  color: #0fc7c7;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.terms {
  color: #0fc7c7;
  cursor: pointer;
}
