.label {
  cursor: pointer;
}
.label:before {
  content: ' ';
  border: 1px solid #ebf1f6;
  border-radius: 4px;
  display: inline-block;
  font: 20px/30px FontAwesome;
  margin-right: 8px;
  text-align: center;
  width: 26px;
  height: 26px;
  background: #fff;
  vertical-align: middle;
}
.checkbox:checked + .label:before {
  content: '✓';
  color: #0fc7c7;
}
.block-body {
  background: #f5fafe;
  width: 70%;
  height: 100vh;
  border-radius: 25px 25px 0 0;
  margin: 0 auto;
}
.checkbox__align {
  display: flex;
  align-items: baseline;
}
.checkbox {
  display: none;
}
.logo__value {
  cursor: pointer;
  outline: none;
}
.checkbox__title {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #252f4d;
}
.validation-password__helper {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #252f4d;
}
.validation-number__helper {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #252f4d;
}
.validation-title {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  color: #252f4d;
  font-size: 24px;
}
.password {
  width: 100%;
  border: 1px solid #ebf1f6;
  height: 44px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
  padding: 0 14px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #252f4d;
}
.validation-number__value {
  width: 100%;
  border: 1px solid #ebf1f6;
  height: 44px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
  padding: 0 14px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #252f4d;
}
.validation-number__cod {
  border: 1px solid #ebf1f6;
  height: 44px;
  box-sizing: border-box;
  padding: 0 14px;
  border-radius: 8px;
  background: #fff;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #252f4d;
  width: 100%;
}
.validation-number__first {
  width: 25%;
  margin-right: 3%;
}
.validation-number__second {
  width: 72%;
}
.helper {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #bbbecd;
}
.validation-button__login {
  border: 1px solid #f5fafe;
  background: #f5fafe;
  display: block;
  outline: none;
  cursor: pointer;
  margin: 20px auto;
  height: 19px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #0fc7c7;
}
.validation-button__save {
  width: 100%;
  text-transform: uppercase;
  display: block;
  color: #fff;
  border: 1px solid #0fc7c7;
  outline: none;
  cursor: pointer;
  height: 48px;
  background: #0fc7c7;
  border-radius: 24px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 60px;
}
.policy {
  color: #0fc7c7;
  cursor: pointer;
}
.href {
  text-decoration: none;
}
.terms {
  color: #0fc7c7;
  cursor: pointer;
}
.validation-changelist {
  display: block;
  margin-top: 35px;
}
.validation-number {
  display: flex;
  width: 100%;
}
.validation {
  display: block;
  width: 33%;
  padding-top: 5%;
  margin: 0 auto;
  height: 95%;
}
.doc {
  color: #f5fafe;
}
.woo {
  color: #0fc7c7;
}
.header-buttons {
  display: flex;
}
.header-button__language {
  color: #f5fafe;
  background: #252f4d;
  border: 1px solid #252f4d;
  outline: none;
  cursor: pointer;
  width: 45px;
  margin-left: 15px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.9px;
}
.header-button__login {
  color: #0fc7c7;
  background: #252f4d;
  border: 1px solid #0fc7c7;
  border-radius: 20px;
  outline: none;
  margin: auto;
  cursor: pointer;
  width: 170px;
  height: 30px;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.header-logo {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.wrapper {
  display: block;
  background: #252f4d;
}
.number__align {
  height: 30%;
  margin-bottom: auto;
}
.block-header {
  height: 10vh;
  line-height: 10vh;
  width: 63vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
