@import '../../../../styles/constants/config.scss';

.text {
  // Modifiers

  color: red;

  &--color-onPrimary {
    color: var(--onPrimary);
  }

  &--size-extra-small {
    font-size: 10px;
  }

  &--size-small {
    font-size: 12px;

    @media (max-width: $sm) {
      font-size: 10px;
    }
  }

  &--size-default {
    font-size: 14px;
  }

  &--size-middle {
    font-size: 16px;

    @media (max-width: $sm) {
      font-size: 14px;
    }
  }

  &--size-big {
    font-size: 18px;

    @media (max-width: $sm) {
      font-size: 16px;
    }
  }

  &--size-extra-big {
    font-size: 22px;

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &--size-inherit {
    font-size: inherit;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 600;
  }

  &--h1 {
    font-weight: bold;
    font-size: 32px;

    @media (max-width: $md) {
      font-size: 38px;
    }

    @media (max-width: $sm) {
      font-size: 28px;
    }
  }

  &--h2 {
    font-weight: bold;
    font-size: 24px;

    @media (max-width: $md) {
      font-size: 30px;
    }

    @media (max-width: $sm) {
      font-size: 24px;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--underline {
    border-bottom: 2px solid var(--onPrimary);
    padding-bottom: 3px;
  }
}
