@import '../../../../styles/constants/config.scss';

.text {
  font-weight: 400;

  // Modifiers

  &--color-onPrimary {
    color: $onPrimary;
  }

  &--color-onPrimaryLight-2 {
    color: $onPrimaryLight-2;
  }

  &--size-h1 {
    font-size: 32px;

    @media (max-width: $md) {
      font-size: 26px;
    }

    @media (max-width: $sm) {
      font-size: 24px;
    }
  }

  &--size-h2 {
    font-size: 24px;

    @media (max-width: $md) {
      font-size: 18px;
    }
  }

  &--size-xs {
    font-size: 10px;
  }

  &--size-sm {
    font-size: 12px;

    @media (max-width: $sm) {
      font-size: 10px;
    }
  }

  &--size-default {
    font-size: 14px;
  }

  &--size-md {
    font-size: 16px;

    @media (max-width: $sm) {
      font-size: 14px;
    }
  }

  &--size-xl {
    font-size: 18px;

    @media (max-width: $sm) {
      font-size: 16px;
    }
  }

  &--size-xxl {
    font-size: 22px;

    @media (max-width: $sm) {
      font-size: 18px;
    }
  }

  &--medium {
    font-weight: 500;
  }

  &--semibold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--underline {
    border-bottom: 2px solid var(--onPrimary);
    padding-bottom: 3px;
  }

  &--spacing {
    letter-spacing: 1px;
  }
}
