.wrapper {
  display: block;
  background: #252f4d;
  min-height: 100vh;

  .container {
    background: #f5fafe;
    max-width: 1074px;
    border-radius: 25px 25px 0 0;
    margin: 0 auto;

    .validation {
      display: block;
      width: 40%;
      max-width: 330px;
      margin: 0 auto;
      height: 100%;

      .validation-title {
        padding-top: 70px;
        margin: 0;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        color: #252f4d;
        font-size: 24px;
      }

      .validation-button {
        padding: 30px 0;

        .validation-button__saveProfile {
          width: 100%;
          text-transform: uppercase;
          display: block;
          color: #fff;
          border: 1px solid #0fc7c7;
          outline: none;
          cursor: pointer;
          height: 48px;
          background: #0fc7c7;
          border-radius: 24px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .validation {
    width: 100%;
  }
  .container {
    max-width: 95% !important;
  }
}

@media (min-height: 680px) {
  .container {
    height: 100vh !important;
  }
}