.validation-personal {
  padding-top: 40px;

  .validation-description {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #252f4d;
    margin: 0;
  }
  .personal-wrapper {
    display: flex;
    margin-top: 20px;

    .personal-date {
      width: 48%;
      margin-right: 4%;
    }
    .personal-gender {
      width: 48%;
      .select {
        width: 100%;
        border: 1px solid #ebf1f6;
        height: 44px;
        box-sizing: border-box;
        border-radius: 8px;
        background: #fff;
        padding: 0 14px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #252f4d;
      }
    }
  }
}
