@import '../../../../styles/constants/config.scss';

.input {
  &__field {
    height: 44px;
    background-color: var(--primary);
    border-radius: $borderRadius;
    box-shadow: none;
    border: 1px solid var(--borderColor);
    color: var(--onPrimary);

    padding: 0 16px;
    outline: none;
    width: 100%;

    transition: border-color $animTimeFast, background-color $animTimeFast,
      opacity $animTime;

    -webkit-appearance: none;

    &::placeholder {
      color: var(--onPrimaryLight-2);
    }

    &:focus {
      border-color: var(--thirdLight);
      box-shadow: none;
    }

    // Modifiers

    // &--color-on-primary-light-3 {
    //   background-color: var(--onPrimaryLight-3);
    //   border: 1px solid var(--onPrimaryLight-3);
    // }

    // &--error {
    //   border-color: var(--error);
    // }

    &:disabled {
      opacity: 0.6;
    }
  }
}
