.validation-contact {
  padding-top: 40px;

  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & input[type=number] {
    -moz-appearance: textfield;
  }

  .validation-description {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #252f4d;
    margin: 0;
  }
  .contact-wrapper {
    display: flex;
    margin-top: 20px;

    .contact-country {
      width: 48%;
      margin-right: 4%;
    }
    .contact-city {
      width: 48%;
    }
  }
  .contact-direction {
    margin-top: 20px;
  }
  .contact-optional {
    display: flex;
    margin-top: 20px;
    align-items: flex-end;

    .contact-house {
      width: 31%;
      margin-right: 3.5%;
      height: 120px;
      padding-top: 13px;
    }
    .contact-apartment {
      width: 31%;
      margin-right: 3.5%;
      height: 120px;
    }
    .contact-floor {
      width: 31%;
      height: 120px;
    }
  }
  .contact-zip {
    margin-top: 20px;
  }
  .contact-email {
    margin-top: 20px;
  }
  .doc-number {
    display: flex;
    width: 100%;
    margin-top: 20px;

    .doc-number__first {
      width: 100%;

      & input::-webkit-outer-spin-button,
      & input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      & input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}

@media (max-width: 780px) {
  .contact-house {
    padding-top: 0 !important;
  }
}