.wrapper {
  display: block;
  background: #252f4d;

  .container {
    background: #f5fafe;
    width: 70%;
    height: 100vh;
    border-radius: 25px 25px 0 0;
    margin: 0 auto;

    .validation {
      display: block;
      width: 33%;
      padding-top: 5%;
      margin: 0 auto;
      height: 95%;

      .validation-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        color: #252f4d;
        font-size: 24px;
      }
      .validation-number__helper {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #252f4d;

        .telephone {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #252f4d;
        }
      }
      .validation-button__submitCode {
        width: 100%;
        text-transform: uppercase;
        display: block;
        color: #fff;
        border: 1px solid #0fc7c7;
        outline: none;
        cursor: pointer;
        height: 48px;
        background: #0fc7c7;
        border-radius: 24px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 30px;
      }
      .validation-button__requestCode {
        width: 100%;
        text-transform: uppercase;
        display: block;
        color: #0fc7c7;
        border: 1px solid #ebf1f6;
        outline: none;
        cursor: pointer;
        height: 48px;
        background: #f5fafe;
        border-radius: 24px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 10px;
      }
      .validation-button__login {
        border: 1px solid #f5fafe;
        background: #f5fafe;
        display: block;
        outline: none;
        cursor: pointer;
        margin: 20px auto;
        height: 19px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #0fc7c7;
      }
    }
  }
}
