@import '../../../../styles/constants/colors';

.fieldLabel {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $onPrimaryLight-2;
}
