// -------- Primary --------

$primary: #ffffff;
$primaryLight: #f5fafe;

$onPrimary: #252f4d;
$onPrimaryLight-2: #bbbecd;
$onPrimaryLight-3: #979899;

// -------- Secondary --------

$secondary: #fc5c7e;
$secondaryLight: #feeef2;

// -------- Third --------

$third: #0fc7c7;
$thirdLight: #aae9ec;

// -------- Fourth --------

$fourth: #ebb767;

// -------- Valid --------

$valid: #55c75c;

// -------- Error --------

$error: #e94040;

// -------- Borders --------

$borderColor: #ebf1f6;

// -------- Switch --------

$backGroundColor: #c4c4c4;
$boxShadow: #2196f3;
