@import './colors.scss';

// -------- Animation durations --------

$animTimeSlow: 0.35s;
$animTimeFast: 0.2s;
$animTime: 0.3s;

// -------- UI params --------

$borderRadius: 8px;
$borderRadiusBig: 24px;

// -------- Breakpoints --------

$xs: 375px; // extra-small
$sm: 600px; // small
$md: 960px; // medium
$lg: 1280px; // large
$xl: 1920px; // extra-large

// -------- Fonts --------

$fontFamilyBase: 'AvenirNext';
