@import './constants/config.scss';

html {
  font-family: $fontFamilyBase;
  line-height: 1.3;
  font-size: 14px;
}

body {
  background: var(--primary);
  // min-width: 360px;
}

.show {
  animation: show 0.5s 0.6s both;
  opacity: 0;
}

.mount {
  animation: mount $animTime;
}

.input-phone__container {
  .input-phone__input {
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    font-family: 'Avenir Next';
    color: $onPrimary;
    width: 100%;
    height: 44px;
    font-size: 16px;
    &:hover {
      border-color: $borderColor;
    }
    &:focus {
      border-color: rgba(15, 199, 199, 0.5);
      box-shadow: none;
    }
  }
  .form-control + div:before {
    display: none;
  }
  .country-list .country {
    outline: none;
  }
}
